In [1]:
import pandas as pd
df = pd.read_csv("./data/NOAA_StormEvents/StormEvents_2014_2024.csv",nrows=100)
df

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,STATE_FIPS,...,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE,DATA_SOURCE
0,201402,18,1000,201402,18,2000,83473,503953,NEW HAMPSHIRE,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Low pressure developing south of Long Island a...,Eight to twelve inches of snow fell across eas...,CSV
1,201403,30,831,201403,30,931,83971,507163,MASSACHUSETTS,25,...,1.0,WNW,CHELMSFORD CENTER,42.5861,-71.3472,42.5867,-71.3469,A stacked low pressure system passed south and...,Boston Road was closed near Brian Road due to ...,CSV
2,201404,27,2306,201404,27,2306,83517,506236,MISSOURI,29,...,1.0,W,AVA,36.9500,-92.6600,36.9500,-92.6600,A powerful storm system and a dry line produce...,NaN,CSV
3,201404,27,2303,201404,27,2303,83517,506237,MISSOURI,29,...,1.0,W,AVA,36.9500,-92.6600,36.9500,-92.6600,A powerful storm system and a dry line produce...,Several power poles snapped and trees blown down.,CSV
4,201402,15,1300,201402,15,2100,83132,501499,WASHINGTON,53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A strong cold front produced strong winds for ...,Two stations measured strong wind gusts in the...,CSV
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,201403,6,1400,201403,7,1300,83831,506449,MONTANA,30,...,58.0,SSE,SHAWMUT,46.4838,-109.6059,45.5450,-109.2083,After a very cold winter resulting in area riv...,County officials and the Montana Department of...,CSV
96,201403,6,1400,201403,7,1300,83831,506451,MONTANA,30,...,32.0,ESE,GREYCLIFF,46.4838,-109.6059,45.5450,-109.2083,After a very cold winter resulting in area riv...,County officials and the Montana Department of...,CSV
97,201403,9,1800,201403,11,1330,83831,512872,MONTANA,30,...,29.0,ESE,PARK CITY,45.4200,-109.3844,45.5376,-108.3358,After a very cold winter resulting in area riv...,County officials reported that some streams an...,CSV
98,201404,7,1115,201404,7,1315,83926,508171,MISSISSIPPI,28,...,1.0,NNE,WILLIAMSVILLE,32.7600,-89.1400,32.7611,-89.1419,A cold front moved through the region on April...,A part of Williamsville Road was flooded.,CSV
99,201404,7,230,201404,7,330,83926,507355,MISSISSIPPI,28,...,1.0,S,OKATIBBEE LAKE,32.4900,-88.8400,32.4920,-88.8195,A cold front moved through the region on April...,Multiple secondary roads were flooded.,CSV

In [2]:
df['BEGIN_DT_LOC']

KeyError: 'BEGIN_DT_LOC'

In [4]:
import pandas as pd
df2 = pd.read_csv("./data/eaglei_data/eaglei_outages_2014.csv",nrows=100)
df2

    fips_code     county    state  customers_out       run_start_time
0        1037      Coosa  Alabama             12  2014-11-01 04:00:00
1        1051     Elmore  Alabama              7  2014-11-01 04:00:00
2        1109       Pike  Alabama              1  2014-11-01 04:00:00
3        1121  Talladega  Alabama             31  2014-11-01 04:00:00
4        4017     Navajo  Arizona              1  2014-11-01 04:00:00
..        ...        ...      ...            ...                  ...
95      19113       Linn     Iowa              2  2014-11-01 04:00:00
96      20045    Douglas   Kansas             45  2014-11-01 04:00:00
97      20091    Johnson   Kansas              2  2014-11-01 04:00:00
98      20173   Sedgwick   Kansas              1  2014-11-01 04:00:00
99      20209  Wyandotte   Kansas              1  2014-11-01 04:00:00

[100 rows x 5 columns]

In [2]:
import pandas as pd

df = pd.read_csv("./data/NOAA_StormEvents/StormEvents_details-ftp_v1.0_d2017_c20230317.csv",nrows=100)

def classify_columns(df, categorical_threshold=0.05):
    """
    Classify DataFrame columns as numeric or categorical.
    
    Parameters:
    df (pd.DataFrame): Input DataFrame
    categorical_threshold (float): Ratio threshold for considering 
                                  numeric columns as categorical
    
    Returns:
    dict: Dictionary with 'numeric' and 'categorical' keys containing column lists
    """
    # Initialize classification dictionary
    column_types = {
        'numeric': [],
        'categorical': []
    }
    
    for col in df.columns:
        # Check dtype first
        if pd.api.types.is_numeric_dtype(df[col]):
            # Check if numeric column might actually be categorical
            unique_ratio = df[col].nunique() / len(df[col])
            if unique_ratio < categorical_threshold and df[col].nunique() < 50:
                column_types['categorical'].append(col)
            else:
                column_types['numeric'].append(col)
        else:
            column_types['categorical'].append(col)
    
    return column_types

# Example usage:
# Assuming your DataFrame is called 'df'
classification = classify_columns(df)

print("Numeric columns:", classification['numeric'])
print("\nCategorical columns:", classification['categorical'])

Numeric columns: ['BEGIN_YEARMONTH', 'BEGIN_DAY', 'BEGIN_TIME', 'END_YEARMONTH', 'END_DAY', 'END_TIME', 'EPISODE_ID', 'EVENT_ID', 'STATE_FIPS', 'CZ_FIPS', 'MAGNITUDE', 'BEGIN_RANGE', 'END_RANGE', 'BEGIN_LAT', 'BEGIN_LON', 'END_LAT', 'END_LON']

Categorical columns: ['STATE', 'YEAR', 'MONTH_NAME', 'EVENT_TYPE', 'CZ_TYPE', 'CZ_NAME', 'WFO', 'BEGIN_DATE_TIME', 'CZ_TIMEZONE', 'END_DATE_TIME', 'INJURIES_DIRECT', 'INJURIES_INDIRECT', 'DEATHS_DIRECT', 'DEATHS_INDIRECT', 'DAMAGE_PROPERTY', 'DAMAGE_CROPS', 'SOURCE', 'MAGNITUDE_TYPE', 'FLOOD_CAUSE', 'CATEGORY', 'TOR_F_SCALE', 'TOR_LENGTH', 'TOR_WIDTH', 'TOR_OTHER_WFO', 'TOR_OTHER_CZ_STATE', 'TOR_OTHER_CZ_FIPS', 'TOR_OTHER_CZ_NAME', 'BEGIN_AZIMUTH', 'BEGIN_LOCATION', 'END_AZIMUTH', 'END_LOCATION', 'EPISODE_NARRATIVE', 'EVENT_NARRATIVE', 'DATA_SOURCE']

In [3]:
import pandas as pd
df = pd.read_csv("./data/NOAA_StormEvents/StormEvents_details-ftp_v1.0_d2017_c20230317.csv",nrows=100)

# For detailed analysis
for col in df.columns:
    print(f"\nColumn: {col}")
    print(f"Type: {df[col].dtype}")
    print(f"Unique values: {df[col].nunique()}")
    print(f"Sample values: {df[col].unique()[:5]}")

Column: BEGIN_YEARMONTH
Type: int64
Unique values: 5
Sample values: [201704 201710 201703 201702 201706]

Column: BEGIN_DAY
Type: int64
Unique values: 22
Sample values: [ 6  5 16 15 29]

Column: BEGIN_TIME
Type: int64
Unique values: 82
Sample values: [1509  930 1749 1759 1550]

Column: END_YEARMONTH
Type: int64
Unique values: 5
Sample values: [201704 201710 201703 201702 201706]

Column: END_DAY
Type: int64
Unique values: 23
Sample values: [ 6  5 16 15 29]

Column: END_TIME
Type: int64
Unique values: 77
Sample values: [1509  940 1753 1900 1550]

Column: EPISODE_ID
Type: int64
Unique values: 33
Sample values: [113355 113459 113448 113697 113683]

Column: EVENT_ID
Type: int64
Unique values: 100
Sample values: [678791 679228 679268 682042 682062]

Column: STATE
Type: object
Unique values: 17
Sample values: ['NEW JERSEY' 'FLORIDA' 'OHIO' 'NEBRASKA' 'INDIANA']

Column: STATE_FIPS
Type: int64
Unique values: 17
Sample values: [34 12 39 31 18]

Column: YEAR
Type: int64
Unique values: 1
Sample values: [2017]

Column: MONTH_NAME
Type: object
Unique values: 5
Sample values: ['April' 'October' 'March' 'February' 'June']

Column: EVENT_TYPE
Type: object
Unique values: 12
Sample values: ['Thunderstorm Wind' 'Tornado' 'Flood' 'Hail' 'Flash Flood']

Column: CZ_TYPE
Type: object
Unique values: 2
Sample values: ['C' 'Z']

Column: CZ_FIPS
Type: int64
Unique values: 43
Sample values: [ 15  71  57  25 155]

Column: CZ_NAME
Type: object
Unique values: 48
Sample values: ['GLOUCESTER' 'LEE' 'GREENE' 'CLERMONT' 'CASS']

Column: WFO
Type: object
Unique values: 12
Sample values: ['PHI' 'TBW' 'ILN' 'OAX' 'AKQ']

Column: BEGIN_DATE_TIME
Type: object
Unique values: 87
Sample values: ['06-APR-17 15:09:00' '06-APR-17 09:30:00' '05-APR-17 17:49:00'
 '16-APR-17 17:59:00' '15-APR-17 15:50:00']

Column: CZ_TIMEZONE
Type: object
Unique values: 3
Sample values: ['EST-5' 'CST-6' 'MST-7']

Column: END_DATE_TIME
Type: object
Unique values: 84
Sample values: ['06-APR-17 15:09:00' '06-APR-17 09:40:00' '05-APR-17 17:53:00'
 '16-APR-17 19:00:00' '15-APR-17 15:50:00']

Column: INJURIES_DIRECT
Type: int64
Unique values: 2
Sample values: [0 1]

Column: INJURIES_INDIRECT
Type: int64
Unique values: 1
Sample values: [0]

Column: DEATHS_DIRECT
Type: int64
Unique values: 1
Sample values: [0]

Column: DEATHS_INDIRECT
Type: int64
Unique values: 1
Sample values: [0]

Column: DAMAGE_PROPERTY
Type: object
Unique values: 7
Sample values: [nan '110.00K' '1.00K' '5.00K' '0.00K']

Column: DAMAGE_CROPS
Type: object
Unique values: 2
Sample values: [nan '0.00K' '0.01K']

Column: SOURCE
Type: object
Unique values: 19
Sample values: ['Trained Spotter' 'Emergency Manager' 'Amateur Radio' 'Public'
 'Law Enforcement']

Column: MAGNITUDE
Type: float64
Unique values: 22
Sample values: [52.   nan 50.   1.5  1. ]

Column: MAGNITUDE_TYPE
Type: object
Unique values: 2
Sample values: ['EG' nan 'MG']

Column: FLOOD_CAUSE
Type: object
Unique values: 2
Sample values: [nan 'Heavy Rain' 'Heavy Rain / Tropical System']

Column: CATEGORY
Type: float64
Unique values: 0
Sample values: [nan]

Column: TOR_F_SCALE
Type: object
Unique values: 1
Sample values: [nan 'EF0']

Column: TOR_LENGTH
Type: float64
Unique values: 1
Sample values: [ nan 7.43]

Column: TOR_WIDTH
Type: float64
Unique values: 1
Sample values: [nan 20.]

Column: TOR_OTHER_WFO
Type: float64
Unique values: 0
Sample values: [nan]

Column: TOR_OTHER_CZ_STATE
Type: float64
Unique values: 0
Sample values: [nan]

Column: TOR_OTHER_CZ_FIPS
Type: float64
Unique values: 0
Sample values: [nan]

Column: TOR_OTHER_CZ_NAME
Type: float64
Unique values: 0
Sample values: [nan]

Column: BEGIN_RANGE
Type: float64
Unique values: 12
Sample values: [ 1.  3.  2.  0. 12.]

Column: BEGIN_AZIMUTH
Type: object
Unique values: 16
Sample values: ['NW' 'S' 'NE' 'ENE' 'N']

Column: BEGIN_LOCATION
Type: object
Unique values: 68
Sample values: ['FRIES MILLS' 'PUNTA RASSA' 'FAIRBORN' 'SUMMERSIDE' 'COLE ARPT']

Column: END_RANGE
Type: float64
Unique values: 12
Sample values: [ 1.  3.  2.  0. 12.]

Column: END_AZIMUTH
Type: object
Unique values: 16
Sample values: ['NW' 'SW' 'NE' 'ENE' 'E']

Column: END_LOCATION
Type: object
Unique values: 68
Sample values: ['FRIES MILLS' 'FORT MYERS VILLAS' 'FAIRBORN' 'SUMMERSIDE' 'COLE ARPT']

Column: BEGIN_LAT
Type: float64
Unique values: 77
Sample values: [39.66   26.501  39.85   39.1065 40.98  ]

Column: BEGIN_LON
Type: float64
Unique values: 73
Sample values: [-75.08   -81.998  -83.99   -84.2875 -95.89  ]

Column: END_LAT
Type: float64
Unique values: 77
Sample values: [39.66   26.5339 39.85   39.1061 40.98  ]

Column: END_LON
Type: float64
Unique values: 73
Sample values: [-75.08   -81.8836 -83.99   -84.2874 -95.89  ]

Column: EPISODE_NARRATIVE
Type: object
Unique values: 32
Sample values: ['Low pressure tracked from the Ohio Valley into the Western Great Lakes with a warm front surging northward ahead of the low which was followed by a cold front.  Moisture and instability was drawn northwest ahead of the front which led to locally heavy showers and thunderstorms. Some of thunderstorms were strong to severe with gusty winds.'
 'A line of thunderstorms developed along a prefrontal trough and moved south through the Florida Peninsula on the morning of the 6th. Some of the stronger storms produced and EF-0 tornado and one inch hail.'
 'Showers and thunderstorms developed ahead of a strengthening surface low which moved from the Middle Mississippi Valley into Northwest Ohio.'
 'Thunderstorms with very heavy rain developed ahead of a cold front.'
 'An upper level storm system moved into Nebraska and Iowa on the afternoon of April 15th. This allowed for a dry line to move through southeast Nebraska with a trailing cold front moving into northeast Nebraska. Both of these boundaries served as a focus for severe weather activity. Supercells initially developed along the dry line in southeast Nebraska and moved into southwest Iowa. These thunderstorms generally produced large hail, though one tornado did occur with the initial development. Supercells then developed along the cold front in northeast Nebraska and tracked southeast, and eventually into western Iowa by late evening. These produced significant hail and wind as they tracked across the area. The severe weather threat ended by late evening as storms moved out of the area.']

Column: EVENT_NARRATIVE
Type: object
Unique values: 80
Sample values: ['A couple of trees were taken down due to thunderstorm wind gusts.'
 'Emergency management reported and broadcast media received video of a tornado that crossed the southern point of Pine Island. The tornado then became a waterspout as it moved east and into Fort Myers towards Lakes Regional Park. In Fort Myers, the tornado destroyed one mobile home, damaged trees, fences, and car ports, and lifted a metal dock out of the water at Lakes Regional Park. One person sustained minor injuries.'
 'An entire tree was uprooted in a yard on Dayton-Springfield Rd.'
 'Garage of a home was flooded by high water.' nan]

Column: DATA_SOURCE
Type: object
Unique values: 1
Sample values: ['CSV']

In [1]:
import pandas as pd
df = pd.read_csv("./data/NOAA_StormEvents/StormEvents_2014_2024.csv")

In [3]:
import pandas as pd
df_merge = pd.read_pickle("noaa_eaglei_merged.pkl")

In [6]:
nrows = 100
df_subset = df_merge[:nrows]
df_subset.to_csv("noaa_eaglei_merged_subset.csv",index=False)